<div class="page-header">
  <h1>Home</h1>
</div>

<center id='home-title'>System Info</center>

<div id='sys-details'>
  <% if current_user.role == 2 %>
    <div id='detail-row' style="width:610px; margin:0 auto;">
  <% else %>
    <div id='detail-row'>
  <% end %>
    <% cache(:orders_count) do %>
      <div class='detail-block'>
        <i class="icon-file-alt"></i>
        <div class='detail-description'>
          <%= @orders_count %> orders
        </div>
      </div>
    <% end %>
    <% cache(:products_count) do %>
      <div class='detail-block'>
        <i class="icon-gift"></i>
        <div class='detail-description'>
          <%= @products_count %> products
        </div>
      </div>
    <% end %>
    <% if current_user.role == 3 %>
      <% cache(:users_count) do %>
        <div class='detail-block'>
          <i class="icon-user"></i>
          <div class='detail-description'>
            <%= @users_count %> users
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
