<%= form_tag(password_resets_path, { :class => 'form-horizontal' }) do %>
  <fieldset>
    <div class="control-group">
      <%= label_tag :email, 'Email', :class => "control-label" %>
      <div class='controls'>
        <%= email_field_tag :email, params[:email] %>
      </div>
    </div>
    <div class="control-group">
      <div class='controls'>
        <%= submit_tag 'Reset Password', :class => "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>