<div class="page-header">
  <h1>Edit User#<%= @user.id %></h1>
</div>

<%= render 'form' %>

<ul class="inline action-links">
  <li>
    <%= link_to 'Show', @user %>
  </li>
  <li>
    <%= link_to 'Back', console_users_path %>
  </li>
</ul>