.admin_session {
  #console-login-form {
    legend {
      text-align: center;
      font-size: 40px;
      padding: 0 0 20px 0;
    }
    #form-actions {
      button {
        margin-right: 80px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

.admin_products {
  td.valign-middle {
    vertical-align: middle;
  }
}