/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap-no-sprites
 *= require _font-awesome
 *= require_tree .
 */
.title {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 1em 0 1em 2em;
  margin-bottom: 20px;
  h3 {
    margin: 0px;
  }
}

.mt30 {
  margin-top: 30px;
}

.mt100 {
  margin-top: 100px;
}

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  #main {
    min-height: 600px;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 0 0.2em 1em;
    }
  }

  #side {
    width: 248px;
    padding: 1em 2em;
    background: #174;
    #user_links {
      margin-bottom: 10px;
      a {
        color: #bfb;
        &:visited {
          color: black;
        }
      }
    }

    a {
      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    #actions {
      width: 217px;
      margin: auto;
      form, div {
        display: inline;
        margin-right: 20px;
        &:last-child {
          margin: 0px;
        }
      }
    }

    p#counter {
      color: white;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: white;
    }

    ul {
      padding: 0;
      li {
        a {
          color: #bfb;
          font-size: small;
        }
      }
    }

    time {
      color: white;
    }
  }
}

#footer {
  border-top: 1px solid black;
  padding: 10px 0;
  margin-top: 10px;
}

.depot_form {
  fieldset {
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}
