<div class="page-header">
  <h1>Edit Product#<%= @product.id %></h1>
</div>

<%= render 'form' %>

<ul class="inline action-links">
  <li>
    <%= link_to 'Show', @product %>
  </li>
  <li>
    <%= link_to 'Back', console_products_path %>
  </li>
</ul>