<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity.to_s + " x " %></td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td class='actions'><%= button_to "delete", line_item_path(line_item), :method => :delete, :confirm => "Are you sure?", :remote => true, :class => 'btn btn-small' %></td>
</tr>
